*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(deltaimgs/castletown.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    background-color: black;
    border-style: solid;
    padding: 6px;
    text-align: center;
    font-size: 18px;
    color: white;
    opacity: 0.8;
    border-radius: 6px;
}
section::after{
    content: "";
    display: table;
    clear: both;
}
nav {
    float: left;
    background-color: black;
    opacity: 0.8;
    border-width: 4px;
    border-style: solid;
    border-radius: 2px;
    margin-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
    height: 40vh;
    width: 220px;
    color: white;
}
nav .button{
    background-color: black;
    border-width: 4px;
    border-style: solid;
    border-radius: 2px;
    color: orange;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    width: 80%;
}
nav .button:hover{
    color: yellow;
    transition: 0.3s;
    background-image: url(deltaimgs/soul.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 16px;
}
article{
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 10px;
    padding-top: 15px;
    margin-left: 120px;
    padding-bottom: 15px;
    height: 100%;
    width: 60%;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-radius: 3px;
    align-items: center;
    color: cyan;
}
footer{
    background-color: rgb(1, 102, 253);
    margin-top: 10px;
    padding: 18px;
    text-align: center;
    color: white;
    border-radius: 6px;
}

div.devs img{
    width: 300px;
    height: 200px;
    object-fit: contain;
    object-position: center;
    align-content: center;
}
p{
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
